<!DOCTYPE html>
<!--[if IE 8 ]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js" ><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

  <title>Simon Reed - Freelance Ruby Developer</title>
  <meta name="description" content="Simon Reed, Freelance senior Ruby developer. I'm an independent Ruby (on Rails) developer based just outside London, UK with 10 years commerical experience." />

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/gist.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic|Source+Code+Pro:600|Damion' rel='stylesheet' type='text/css'>

  <!-- Twitter -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@simonreed">
  <meta name="twitter:title" value="Ramp up your Ruby/Rails project.">
  <meta name="twitter:description" value="Get a freelance senior Rails developer as and when you need it. Scale up your development like you do with your Heroku project.">
  <meta name="twitter:image" value="http://simonreed.co/img/twitter_card.jpg">

  <meta name="google-site-verification" content="oMdmcp4rRVLWPtGfooyTYDOg0d7P522s4lx26TrQBxc" />

  <link rel="icon"
      type="image/png"
      href="/img/favicon.png">

  <script src="js/html5shiv.js"></script>

</head>
<body>

  <header>

    <%= partial 'nav' %>

    <article>

      <h1>Get a Senior Ruby and React Developer as and when you need it.</h1>

      <p>I'm a freelance software developer specialising in React and Rails to help my clients more money and enables their businesses run more efficiently.</p>
      <ul>
        <li>Experienced</li>
        <li>Flexible</li>
        <li>Reliable, I won't leave you stranded.</li>
      </ul>

    </article>

  </header>

  <%= yield %>

  <%= partial 'newsletter' if feature?('newsletter') %>

  <%= partial 'footer' %>

  <script src="js/placeholders.min.js"></script> <!-- Must be at bottom -->

  <%= partial 'analytics' %>

</body>
</html>
