---
layout: layout
navigation: guides
---

<% category = find_category(id) %>

<section class="hero">

    <span class="image"><img src="http://placehold.it/1280x215" width="100%" height="auto"></span>

  </section>

  <section class="title">

    <article>

      <h3><a href="/guides">Guides & Tutorials</a></h3>

      <h1><%= category.title%></h1>

      <span class="image"><img src="<%= category.icon %>" width="300" height="300"></span>

    </article>

  </section>

  <section class="index">

    <article>

      <aside>

        <p>Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicdin ac euismod non, placerat ac augue Pellen habitant. Fusce a metus eu diam. Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicdin ac euismod non, placerat ac augue Pellen habitant.</p>

        <p>Pellen habitant. Fusce a metus eu diam. Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicdin ac euismod non, placerat ac augue.</p>

      </aside>

      <aside>

        <ol>
          <li>
            <div><a href="post">Getting to Know HTTP</a></div></div>
          </li>
          <li>
            <div><a href="post">Underrated HTTP codes</a></div>
          </li>
          <li>
            <div><a href="post">Getting to Know HTTP New</a></div>
          </li>
          <li>
            <div><a href="post">Opening the HTTP Model</a></div>
          </li>
          <li>
            <div><a href="post">Structuring HTTP requests</a></div>
          </li>
          <li>
            <div><a href="post">Building Your First HTTP response</a></div>
          </li>
          <li>
            <div><a href="post">Getting to Know HTTP</a></div>
          </li>
          <li>
            <div><a href="post">Getting to Know HTTP New</a></div>
          </li>
          <li>
            <div><a href="post">Opening the HTTP Model</a><span class="new">New</span></div>
          </li>
          <li>
            <div><a href="post">Structuring HTTP requests</a><span class="new">New</span></div>
          </li>
        </ol>

      </aside>

    </article>

  </section>

  <section class="posts">

    <h2>All Articles in <%= category.title %></h2>

    <section class="row">

      <% category_articles(category.id).each do |article| %>

      <article>

        <a href="<%= article.url %>">
          <span class="image"><img src="http://placehold.it/430x215" width="430" height="215"></span>
        </a>

        <span>

          <h3><a href="<%= article.url %>"><%= article.title %></a></h3>

          <span class="date"><%= formatted_date(article.date) %></span>

          <p><%= article.summary %></p>

          <a href="<%= article.url %>" class="button">Read Article</a>

        </span>

      </article>
      <% end %>

    </section>

  </section>

  <section class="guides guides-grey">

    <%= partial 'guide_section', :locals => { :category => other_category(id), :i => 0 } %>

  </section>